---
title: Ludus - Clinica de Fisioterapia
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/doo34xu3a/image/upload/v1536497427/banner.png');">
  <div class="banner-content">
    <h1>Ludus</h1>
    <p>Fisioterapia</p>
    <a class="btn-treehouse">Saiba mais </a>
  </div>
</div>
<div class="transicao">
  <!-- just space -->
</div>

<div id="saude" class="banner2" style="background-color:#9f9999;">

<div class="col-xs-12 col-md-10">

  <div class="col-xs-12 col-md-6">
    <div class="card-home">
      <div>
        <h3>Fisioterapia</h3>
        <p>Restaurar,desenvolver e manter o movimento</p>
      </div>
        <img src="images/servico2.jpeg" alt="Ludus Fisioterapia" class="card-home-icon">
    </div>
  </div>

   <div class="col-xs-12 col-md-6">
    <div class="card-home">
      <div>
        <h3>Psicologia</h3>
        <p>Restaurar,desenvolver e manter o movimento</p>
      </div>
        <img src="images/servico2.jpeg" alt="Ludus Fisioterapia" class="card-home-icon">
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="card-home">
      <div>
        <h3>Nutriçao</h3>
        <p>Restaurar,desenvolver e manter o movimento</p>
      </div>
        <img src="images/servico2.jpeg" alt="Ludus Fisioterapia" class="card-home-icon">
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="card-home">
      <div>
        <h3>Massagens</h3>
        <p>Restaurar,desenvolver e manter o movimento</p>
      </div>
        <img src="images/servico2.jpeg" alt="Ludus Fisioterapia" class="card-home-icon">
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="card-home">
      <div>
        <h3>Aulas de grupo</h3>
        <p>Pilates, yoga, espiritismo</p>
      </div>
        <img src="images/servico2.jpeg" alt="Ludus Fisioterapia" class="card-home-icon">
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="card-home">
      <div>
        <h3>Monitorização de Atletas</h3>
        <p>Avaliação, treino especializado</p>
      </div>
        <img src="images/servico2.jpeg" alt="Ludus Fisioterapia" class="card-home-icon">
    </div>
  </div>
</div>
</div>

<div class="banner3" style="background-color:green;">

  <div height="100" width="100">
    <h3>Localização</h3>
    <p>telefone - 919 999 999</p>
    <p>e mail: ludus@gmail.com</p>
    <p>Av. 1° de maio, n°9 2° esquerdo <br>Caldas da Rainha <br>2500-329</p>
  </div>


    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
    function initMap() {
  // The location of Uluru
     var uluru = {lat: 39.406791, lng: -9.137295};
  // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: uluru});
  // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8woxt82VAaROn7iPFxMcnRpJwK1Od5CU&callback=initMap">
    </script>
  </body>





